<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/form.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style media="screen">
  </style>
</head>
<body>
  <div class="wrapper">
  	<div class="registration_form">
		<div>
			<h1 align="center">Voter Application using RSA</h1>
		</div><br><br>
  		<div class="title">
  			Voter Registration Form
  		</div>

		
  		<form action = "http://127.0.0.1:5000/register" method="post">
  			<div class="form_wrap">
				<div class="input_grp">
  					<div class="input_wrap">
  						<label for="fname">First Name</label>
  						<input type="text" id="fname" name="fname">
  					</div>
  					<div class="input_wrap">
  						<label for="lname">Last Name</label>
  						<input type="text" id="lname" name="lname">
  					</div>
                    
  				</div>
  				<div class="input_wrap">
  					<label for="email">Email Address</label>
  					<input type="text" id="email" name="email">
  				</div>
                

  				<div class="input_wrap">
  					<label for="city">Phone</label>
  					<input type="text" id="uname" name="phone">
  				</div>
                <div class="input_wrap">
  					<label for="email">Aadhar</label>
  					<input type="text" id="aadhar" name="aadhar">
  				</div>

  				
          <div class="input_wrap">
  					<label>Vote</label>
  					<ul>
  						<li>
  							<label class="radio_wrap">
  								<input type="radio" name="vote" value="congress" class="input_radio">
  								<span>Congress</span>
  							</label>
  						</li>
  						<li>
  							<label class="radio_wrap">
  								<input type="radio" name="vote" value="bjp" class="input_radio">
  								<span>BJP</span>
  							</label>
  						</li>
  					</ul>
  				</div>
  				<div class="input_wrap">
  					<input type="submit" value="Register Now" class="submit_btn">
  				</div>
				{{ msg }}
  			</div>
  		</form>
  	</div>
  </div>
</body>
</html>
